@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);

html,
body {
    height: 100%;
    margin: 0;
    background: #000 url("bj.jpg") no-repeat center top;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

#wrap {
    width 1000px;
    margin: 0 auto;
}

header{
    clear: both;
    text-align: center;
}

h1 {
    font-size: 72px;
    color: white;
    font-family: Georgia, serif;
    margin: 0;
}

h2 {
    font-size: 25px;
    color: #8CF0EF;
    font-family: Georgia, serif;
}

#logo {
    padding: 10px;
}

nav {
    padding: 10px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li {
    display: inline;
    margin: 0 30px;
}

nav a {
    color: #133450;
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Permanent Marker', cursive;
}

nav a: hover {
    color:white;
}

section {
    background-color: rgba(0, 0, 0, 0.3);
}

.welcome {
    padding: 10px 15px;
    margin: 20px 0;
    overflow: auto
}

footer {
    background-color: transparent;
    padding: 10px;
    color: white;
    text-align: center;
    clear: both;
}

footer a {
    color: #8CF0EF;
}

figure{
    width: 25%;
    background-color: black;
    padding: 10px;
    border: 1px solid white;
    float: left;
    margin: 10px 25px;
}

figure img {
    width: 100%
}

figcaption {
    color: white;
    font-family: arial;
    font-size: 90%;
    padding-top: 10px;
    text-align: center;
}